<section id="about" class="w-[1280px] mx-auto p-20">
  <div class="py-4 justify-center text-center">
    <h1 class="lavi">¿Quien Soy?</h1>
  </div>
  <div>
    <p>
      Soy desarrollador web argentino, apasionado por el aprendizaje constante y
      la creación de soluciones digitales con propósito. He trabajado en
      diversos proyectos como freelancer, utilizando tecnologías como React,
      Node.js, Express, NestJS y TypeScript, además de gestionar bases de datos
      con PostgreSQL y MongoDB. También disfruto aplicar pruebas unitarias con
      Jasmine para garantizar un código limpio y confiable. Busco seguir
      creciendo profesionalmente, enfrentando nuevos desafíos que me permitan
      mejorar mis habilidades y aportar valor a cada proyecto en el que
      participo. Fuera del trabajo, disfruto viajar acompañado de buena música o
      compartir unos mates, momentos que me inspiran y me ayudan a mantener el
      equilibrio.
    </p>
  </div>
</section>

<style>
    p {
        font-family: 'onest-variable', sans-serif;
    }
    section {
        background-color: #F1F5F9;
    }
    .lavi {
        font-family: 'Lavishly Yours', cursive;
        font-size: 2em;
    }
</style>
