<footer>
    <div class="flex justify-between py-4">
        <p class="px-4 text-sm text-body">
        &copy; {new Date().getFullYear()} Cristian Mansilla. Todos los derechos reservados.
        </p>
        <p class="px-4 text-sm">made with 💛</p>
    </div>
</footer>