<section id="formation" class="w-[1280px] mx-auto p-8">
  <div class="text-center py-4">
    <h1 class="lavi">Formación</h1>
  </div>
  <div class="flex justify-center">
    <div class="card">
      <h2 class="text-lg">Henry</h2>
      <div class="flex justify-between py-6">
        <h3>Desarrollador Web Full Stack</h3>
        <p>2024 - 2025</p>
      </div>
      <p>
        Bootcamp intensivo de Soy Henry a la carrera como desarrollador web
        fullstack con orientacion en backend donde aprendi el uso de tecnologías
        como React, Nodejs, Nestjs, Express, Docker, Typescript, PostgreSQL,
        MondoDB, Jasmine, Jest, entre otras
      </p>
    </div>
    <div class="card">
      <h2 class="text-lg">Digital House</h2>
      <div class="flex justify-between py-6">
        <h3>Desarrollador Web Full Stack</h3>
        <p>2019 - 2019</p>
      </div>
      <p>
        Bootcamp de Digital House a la carrera como desarrollador web fullstack
        donde aprendi el uso de tecnologías como HTML5, CSS, bootstrap, Laravel,
        Angular, PHP.
      </p>
    </div>
    <div class="card">
      <h2 class="text-lg">I.S.F.T N° 190</h2>
      <div class="flex justify-between py-6">
        <h3>Analista en Sistemas</h3>
        <p>2014 - 2017</p>
      </div>
      <p>
        Diseñar, desarrollar, implementar y mantener sistemas informáticos
        optimizando procesos dentro de una organización.
      </p>
    </div>
  </div>
</section>

<style>
    section {
        background-color: #F8FAFC;
    }
    p, h2, h3 {
        font-family: 'onest-variable', sans-serif;
    }
  .lavi {
    font-family: "Lavishly Yours", cursive;
    font-size: 2em;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    gap: 10px;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  @media (max-width: 1280px) {
    .card {
      width: 100%;
      max-width: 500px;
    }
  }
</style>
