---
---

<navbar class="flex justify-between py-4 w-[1280px] mx-auto">
  <h1>Cristian Mansilla</h1>
  <nav class="flex space-x-4">
    <a href="#inicio">Inicio</a>
    <a href="#about">Sobre Mi</a>
    <a href="#formation">Formacion</a>
    <a href="#projects">Projectos</a>
    <a href="#skills">Habilidades</a>
    <a href="#contact">Contacto</a>
  </nav>
</navbar>

<style>
    nav {
        background-color: #f8f9fa;
        padding: 1rem;
    }
    
    h1 {
        font-family: 'Lavishly Yours';
        color: #333;
        font-size: 3em;
    }
</style>
