---
import '@fontsource-variable/onest'
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Formation from "../components/Formation.astro";
import Project from "../components/Project.astro";
import "../styles/global.css";
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Porfolio de Cristian</title>
  </head>
  <body>
    <!-- donde se renderizan las rutas -->
    <Navbar />
    <Header />
	<About />
	<Formation />
	<Project />
	<Skills />
	<Contact />
	<Footer />
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </body>
</html>
